{% from "_macros.html" import static_file as static_file%}
{% from "_macros.html" import form_field %}
{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static',filename='css/auth.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}更改密码{% endblock %}
{% block content%}
  <div class="container">
    <div class="jumbotron">
      <form class="form-signin" method="post">
        {{ form.csrf_token }}
        {{ form.old_password.label }}
        {{ form_field(form.old_password) }}
        {{ form.password.label }}
        {{ form_field(form.password) }}
        {{ form.password2.label }} 
        {{ form_field(form.password2) }}
        {{ form_field(form.submit) }}
      </form> 
    </div>
{% endblock %}