{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}
{% block content%}
  <h3>我的资料</h3>
  <hr>
  <p><strong>姓名:</strong> {{ user.username }}</p>
  <p><strong>邮箱：</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
  <p><strong>Member since  {{ moment(user.created).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</strong></p>
  <strong>参与项目：<strong>
  <ol>
   {% for p in user.projects %}
   
    <li>{{ p.name }}</li>
  
   {% endfor %}
   </ol>

{% endblock %}
