[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
celery = {extras = ["librabbitmq", "msgpack", "redis"],version = "*"}
chardet = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
flask-wtf = "*"
pymysql = "*"
python-dotenv = "*"
svn = "*"
gunicorn = "*"
jenkinsapi = "*"
openpyxl = "*"
paramiko = "*"
requests = "*"
ansible = "*"

[requires]
python_version = "3.6"
