[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
celery = {extras = ["librabbitmq", "msgpack", "redis"],version = "*"}
chardet = "*"
flask-mail = "*"
flask-migrate = "*"
flask-wtf = "*"
pymysql = "*"
python-dotenv = "*"
svn = "*"
gunicorn = "*"
jenkinsapi = "*"
openpyxl = "*"
paramiko = "*"
requests = "*"
ansible = "*"
flask-cors = "*"
pytest = "*"
flask-rest-jsonapi = "*"
eventlet = "*"
flask-login = "*"
flask-socketio = "==3.1.2"

[requires]
python_version = "3.6"
