{% extends "dashboard.html" %}
{% import "_macros.html" as macros %}
{% block title %}添加机器{% endblock %}
{% block main %}
<form class="form-horizontal" method='post'">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">添加机器</h3>
      </div>
      <div class="panel-body">
        
      <div class="form-group">
        <label class="col-sm-2 control-label">机器别名 </label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="机器别名" name="alias" required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">机器名 </label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="hostname" name="hostname" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">IP </label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="IP"  name="ip" required>
        </div>
      </div>
       <div class="form-group">
        <label class="col-sm-2 control-label">凭证</label>
        <div class="col-sm-10">
          <select class="form-control" name='credence_id' required>
            {% for a in credences %}
            <option value = {{ a.id }}> {{ a.name }} </option> 
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">操作系统 </label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  placeholder="OS"  name="os" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">备注: </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="4" name="remarks" ></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" value="提交">
            <a href="{{ url_for('service.manage_machine') }}"><button type="button" class="btn btn-primary" >返回</button></a>
        </div>
      </div>
      </div>
    </div>
  </form>

     
  
{% endblock %} 