{% extends "dashboard.html" %}
{% import "_macros.html" as macros %}
{% block title %}服务器管理{% endblock %}
{% block head %}
     {{ super() }}
     <script type="text/javascript">
       $(document).ready(function(){
        url = $('button.detail').attr("url");
        $("button.detail").click(function(){
          window.open(url,'newwindow','height=500,width=500,top=150,left=500,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
  });
});
     </script>
{% endblock %}
{% block main %}
	<div class="container-fluid">
	<a href="{{ url_for('service.new_machine') }}"><button type="button" class="btn btn-primary" >新增</button></a>
     <table class="table table-hover ">
      <thead>
        <tr class="active"><th>序号</th><th>别名</th><th>机器名</th>
        	<th>ip</th><th>状态</th><th>OS</th><th>备注</th><th>操作</th>
        </tr>
      </thead>
      <tbody>
    	{% for machine in machines %}
        <tr>
          <td>{{ loop.index + ((page - 1) * config.FLASKY_BASELINES_PER_PAGE) }}</td>
          <!-- <th scope="row">{{ machine.id }}</th> -->
          <td>{{ machine.alias }}</td>
          <td>{{ machine.hostname }}</td>
          <td>{{ machine.ip }}</td>
          {% if machine.status==True %}
            <td><img src="{{ url_for('static',filename = 'images/blue.png') }}" ></td>
          {% else %}
            <td><img src="{{ url_for('static',filename = 'images/red.png') }}" ></td>
          {% endif %}
          <td>{{ machine.os }}</td>
          <td>{{ machine.remarks }}</td>
          <td>
          	<button class="btn btn-success btn-sm detail"   url="{{ url_for('.view_machine', machine_id=machine.id) }}">详情</button>
            <a class="btn btn-info btn-sm" href="{{ url_for('.edit_machine', machine_id=machine.id) }}">编辑</a>
            <a class="btn btn-danger btn-sm" href="{{ url_for('.delete_machine', machine_id=machine.id, next=request.full_path) }}" onclick="return confirm('确认删除?')";>删除</a>
          </td>
        </tr>
    	{% endfor %}
    	</tbody>
     </table>

     {% if pagination %}
      <div class="nav navbar-nav navbar-right">
        {{ macros.pagination_widget(pagination, 'service.manage_machine') }}
      </div>
    {% endif %}
    </div>
{% endblock %} 