{% extends "dashboard.html" %}
{% import "_macros.html" as macros %}
{% block title %}凭证管理{% endblock %}
{% block main %}
<div class="container-fluid">
<a href="{{ url_for('service.new_credence') }}"><button type="button" class="btn btn-primary" >新增</button></a>

<table class="table  table-hover">
      <thead>
        <tr class="active">
          <th>序号</th>
          <th>名字</th>
          <th>用户名</th>
          <th>端口</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
    {% for  credence in credences %}
        <tr>
          <th>{{ loop.index + ((page - 1) * config.FLASKY_BASELINES_PER_PAGE) }}</td>
          <!-- <th scope="row">{{ credence.id }}</th> -->
          <td>{{ credence.name }}</td>
          <td>{{ credence.username }}</td>
          <td>{{ credence.port }}</td>
          <td>
            <a class="btn btn-info btn-sm" href="{{ url_for('.edit_credence', credence_id=credence.id) }}">编辑</a>
            <a class="btn btn-danger btn-sm" href="{{ url_for('.delete_credence', credence_id=credence.id, next=request.full_path) }}" onclick="return confirm('确认删除?')";>删除</a>
          </td>
        </tr>
    {% endfor %}
    </tbody>
    </table> 

    {% if pagination %}
      <div class="nav navbar-nav navbar-right">
        {{ macros.pagination_widget(pagination, 'service.manage_credence') }}
      </div>
    {% endif %}
 </div> 
{% endblock %} 