{% from "_macros.html" import form_field %}
{% extends "dashboard.html" %}
{% block title %}更新基线{% endblock %}
{% block main %}

<form class="form-horizontal" method='post'>
	{{ form.csrf_token }}
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title"><b>{{ project_name }}基线更新</b></h3>
      </div>

      <div class="panel-body">

	      <div class="form-group">
	        {{ form.versionno.label(class="col-sm-2 control-label") }}
	        <div class="col-sm-10">
	          {{ form_field(form.versionno,class="form-control",placeholder="01,02,03(英文逗号隔开)") }}
	        </div>
	      </div>

	      <div class="form-group">
	        {{ form.sqlno.label(class="col-sm-2 control-label") }}
	        <div class="col-sm-10">
	          {{ form_field(form.sqlno,class="form-control",placeholder="01,02,03(英文逗号隔开)") }}
	        </div>
	      </div>

	      <div class="form-group">
	        {{ form.pckno.label(class="col-sm-2 control-label") }}
	        <div class="col-sm-10">
	          {{ form_field(form.pckno,class="form-control",placeholder="01,02,03(英文逗号隔开)") }}
	        </div>
	      </div>

	      <div class="form-group">
	        {{ form.rollbackno.label(class="col-sm-2 control-label") }}
	        <div class="col-sm-10">
	          {{ form_field(form.rollbackno,class="form-control",placeholder="01,02,03(英文逗号隔开)") }}
	        </div>
	      </div>
	      
	      <div class="form-group">
	        {{ form.mantisno.label(class="col-sm-2 control-label") }}
	        <div class="col-sm-10">
	          {{ form_field(form.mantisno,class="form-control",placeholder="01,02,03(英文逗号隔开)") }}
	        </div>
	      </div>

	      <div class="form-group">
	      	<font color="red">*</font>
	        {{ form.content.label(class="col-sm-2 control-label") }} 
	        <div class="col-sm-10">
	          {{ form_field(form.content,class="form-control", rows="4") }}
	        </div>
	      </div>

	      <div class="form-group">
	        {{ form.mark.label(class="col-sm-2 control-label") }}
	        <div class="col-sm-10">
	          {{ form_field(form.mark,class="form-control", rows="4") }}
	        </div>
	      </div>
	      

	     	<div class="form-group">
	     		<div class="col-sm-offset-2 col-sm-10">
	        {{ form_field(form.submit,class="btn btn-primary") }}
	      	</div>
	      </div>
     
    	</div>
    </div>
  </form>
{% endblock %}