{% import "_macros.html" as macros %}
{% extends "dashboard.html" %}
{% block title %}更新包管理{% endblock %}
{% block main %}
	<div class="container-fluid">
     <table class="table table-hover datatable">
      <thead><br/>
        <tr class="active"><th>编号</th><th>名字</th><th>基线序号</th><th>备注</th><th>操作</th></tr>
      </thead>
      <tbody>
    	{% for package in packages %}
        <tr>
          <td>{{ package.id }}</td>
          <td>{{ package.name }}</td>
          <td width="40%">{{ package.blineno }}</td>
          <td>{{ package.remark }}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="{{ url_for('version.edit_package',id=package.id,next=request.full_path) }}">编辑</a>
            <a class="btn btn-primary btn-sm" href="{{ url_for('version.merge_version',id=package.id,next=request.full_path) }}">合并</a>
            <a class="btn btn-primary btn-sm" href="{{ url_for('version.merge_update',id=package.id,next=request.full_path) }}">发布</a>
            <a class="btn btn-primary btn-sm" href="{{ url_for('version.release_package',id=package.id,next=request.full_path) }}">发包</a>
            <a class="btn btn-danger btn-sm" href="{{ url_for('version.delete_package',id=package.id) }}">删除</a>
          </td>
        </tr>
    	{% endfor %}
    	</tbody>
     </table>
{% endblock main %}
{% block scripts %}
     {{ super() }}
     <script type="text/javascript">
      $(document).ready(function() {
        $('.datatable').DataTable({
          language: {
          "sProcessing": "处理中...",
          "sLengthMenu": "显示 _MENU_ 项结果",
          "sZeroRecords": "没有匹配结果",
          "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
          "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
          "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
          "sInfoPostFix": "",
          "sSearch": "搜索:",
          "sUrl": "",
          "sEmptyTable": "表中数据为空",
          "sLoadingRecords": "载入中...",
          "sInfoThousands": ",",
          "oPaginate": {
              "sFirst": "首页",
              "sPrevious": "上页",
              "sNext": "下页",
              "sLast": "末页"
          },
          "oAria": {
              "sSortAscending": ": 以升序排列此列",
              "sSortDescending": ": 以降序排列此列"
            }
          }
        });
    });
     </script>
{% endblock %}