{% from "_macros.html" import form_field %}
{% extends "dashboard.html" %}
{% import "_macros.html" as macros %}
{% block title %}合并详情{% endblock %}

{% block main %}
<table class="table table-hover " id="issuelist">
  <thead>
    <tr class="active">
      <th width="5%">序号</th>
      <th width="5%">项目</th>
      <th width="10%">子系统</th>
      <th width="20%">SVN版本号</th>
      <th width="20%">sql序号</th>
      <th width="20%">pck序号</th>
      <th width="10%">回滚脚本序号</th>
      <th>操作</th>
    </tr>
  </thead>
{% for baseline in merge_list %}
  <tbody>
    <tr>
      <th scope="row" width="5%">{{ baseline.id }}</th>
      <th scope="row" width="5%">{{ baseline.app.project.name }}</th>
      <th scope="row" width="10%">{{ baseline.app.subsystem.zh_name }}</th>
      <td width="20%">{{ baseline.versionno }}</td>
      <td width="20%">{{ baseline.sqlno }}</td>
      <td width="20%">{{ baseline.pckno }}</td>
      <td width="10%">{{ baseline.rollbackno }}</td>
      <td>
        <a href="{{ url_for('version.baseline_details',id=baseline.id, next=request.full_path) }}">
          <ins>详情</ins>
        </a>
      </td>
    </tr>

  </tbody>
{% endfor %}
</table>
{% endblock %}

