{% from "_macros.html" import form_field %}
{% extends "dashboard.html" %}
{% block title %}选择项目{% endblock %}
{% block main %}

<div class="list-group">
  <a href="#" class="list-group-item active disabled">选择管理项目</a>
  {% for project in projects %}
		<a href="{{ url_for('version.manage_baseline',project_id=project.id) }}"  class="list-group-item">
			{{ project.name }}</a>
	{% endfor %}
	<a href="{{ url_for('version.manage_baseline',project_id=0) }}" class="list-group-item ">所有项目</a>
</div>
{% endblock %}