{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}加入项目{% endblock %}
{% block content %}
 
<div class="col-md-6 col-md-offset-3">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">选择要加入的项目</h3>
    <!-- </div> -->

    <div class="box-body">
      <form  method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <select  class="form-control" name='project_id'>
        <option>--请选择--</option>
            {% for p in projects %}
            <option value = {{ p.id }}> {{ p.name }} </option>
            {% endfor %}
          </select>
          <br/>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content%}