{% import "_macros.html" as macros %}
{% extends "dashboard.html" %}
{% block title %}项目管理{% endblock %}
{% block main %}
	<div class="container-fluid">
     <table class="table table-hover datatable">
      <a href="{{ url_for('backstage.new_project',next=request.full_path) }}"><button type="button" class="btn btn-primary" >新增</button></a><br/>
      <thead><br/>
        <tr class="active"><th>编号</th><th>英文名</th><th>中文名</th><th>操作</th></tr>
      </thead>
      <tbody>
    	{% for project in projects %}
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.zh_name }}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="{{ url_for('backstage.edit_project',project_id=project.id,next=request.full_path) }}">编辑</a>
            <a class="btn btn-danger btn-sm" href="{{ url_for('backstage.delete_project',project_id=project.id) }}">删除</a>
          </td>
        </tr>
    	{% endfor %}
    	</tbody>
     </table>
{% endblock main %}
{% block scripts %}
     {{ super() }}
     <script type="text/javascript">
      $(document).ready(function() {
        $('.datatable').DataTable({
          language: {
          "sProcessing": "处理中...",
          "sLengthMenu": "显示 _MENU_ 项结果",
          "sZeroRecords": "没有匹配结果",
          "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
          "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
          "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
          "sInfoPostFix": "",
          "sSearch": "搜索:",
          "sUrl": "",
          "sEmptyTable": "表中数据为空",
          "sLoadingRecords": "载入中...",
          "sInfoThousands": ",",
          "oPaginate": {
              "sFirst": "首页",
              "sPrevious": "上页",
              "sNext": "下页",
              "sLast": "末页"
          },
          "oAria": {
              "sSortAscending": ": 以升序排列此列",
              "sSortDescending": ": 以降序排列此列"
            }
          }
        });
    });
     </script>
{% endblock %}