{% extends "dashboard.html" %}
{% block title %}查看日志{% endblock %}
{% block main %}

<div class="alert alert-danger alert-dismissible" role="alert">
  
  <strong>注意!</strong>怀疑程序没有更新到服务器的，请将代码下载与对应合并的分支仔细比较
</div>
<ul>
	<li><a href="http://192.168.0.31:10000/sit/">WellLink SIT和B2B预UAT程序</a></li>
	<li><a href="http://192.168.0.31:10000/puat/">WellLink PUAT BAU程序</a></li>
	<li><a href="http://192.168.0.23:10000/sit/">WingLung SIT程序</a></li>
	<li><a href="http://192.168.0.23:10000/puat/">WingLung PUAT程序</a></li>
	<li><a href="http://192.168.0.88:10000/sit/">CPICHK程序</a></li>
</ul>
{% endblock %}