version: "3.2"

# init
# mkdir /etc/alertmanager
# mkdir /etc/prometheus 

volumes:
  prometheus_data: {}
  grafana_data: {}
  alertmanager_data: {}


services:

  prometheus:
    image: prom/prometheus
    volumes:
    - /etc/prometheus/:/etc/prometheus/
    - prometheus_data:/prometheus
    command:
    - '--config.file=/etc/prometheus/prometheus.yml'
    - '--storage.tsdb.path=/prometheus'
    - '--web.console.libraries=/usr/share/prometheus/console_libraries'
    - '--web.console.templates=/usr/share/prometheus/consoles'
    - '--web.external-url=http://192.168.0.12:9090/'
    - '--web.enable-lifecycle'
    - '--storage.tsdb.retention=15d'
    ports:
    - 9090:9090
    links:
    - node_exporter:node_exporter
    - alertmanager:alertmanager
    restart: always

  node_exporter:
    image: prom/node-exporter
    ports:
    - 9100:9100  
    restart: always

  alertmanager:
    image: prom/alertmanager
    ports:
    - 9093:9093
    volumes:
    - /etc/alertmanager/:/etc/alertmanager/
    - alertmanager_data:/alertmanager
    command:
    - '--config.file=/etc/alertmanager/alertmanager.yml'
    - '--storage.path=/alertmanager'
    restart: always


  grafana:
    image: grafana/grafana
    ports:
    - 3000:3000
    volumes:
    - /etc/grafana/:/etc/grafana/provisioning/
    - grafana_data:/var/lib/grafana
    environment:
    - GF_INSTALL_PLUGINS=camptocamp-prometheus-alertmanager-datasource
    links:
    - prometheus:prometheus
    - alertmanager:alertmanager
    restart: always