{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block head %}
     {{ super() }}
   <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar"><!--left start-->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
              <a role="button" class="btn btn-primary active" data-toggle="collapse" data-parent="#accordion"
                href="#collapse4"   aria-expanded="true" aria-controls="collapse4">
                <span class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="true"></span>版本管理
              </a>
            </h4>
          </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <ul class=list-group> 
            <li class=list-group-item>
               <a href="{{ url_for('version.select_app') }}">更新基线</a>
            </li>
            <li class=list-group-item>
                <a href="{{ url_for('version.select_project') }}">管理基线</a>
            </li>
            <li class=list-group-item>
                <a href="{{ url_for('version.merge_baseline') }}">版本合并</a>
            </li>
            <li class=list-group-item>
                <a href="{{ url_for('version.manage_package') }}">更新包管理</a>
            </li>
          </ul> 
         </div>
        </div>
      
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
        <h4 class="panel-title">
          <a class="btn btn-primary active" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
            <span class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="true"></span>日志与程序
          </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <ul class=list-group> 
          <li class=list-group-item>
             <a href="{{ url_for('log.downloadlog') }}">日志查看</a>
          </li>
          <li class=list-group-item>
             <a href="{{ url_for('log.downloadapp') }}">程序查看</a>
          </li>
        </ul> 
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
            <span class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="true"></span>备份管理
          </a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <div class="panel-body">
            <li class=list-group-item>聚合图形</li>
            </div>
        </div>
     </div>

     <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading7">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
               <span class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="true"></span>服务管理
              </a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <ul class=list-group> 
              <li class=list-group-item>
                 <a href="{{ url_for('service.dbview') }}">数据库管理</a>
              </li>
              <li class=list-group-item>
                <a href="{{ url_for('service.manage_app') }}">应用管理</a>
              </li>
              <li class=list-group-item>
                <a href="{{ url_for('service.manage_machine') }}">机器管理</a>
              </li>
              <li class=list-group-item>
                <a href="{{ url_for('service.manage_credence') }}">凭证管理</a>
              </li>
            </ul> 
          </div>
      </div>

       <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading8">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
               <span class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="false"></span>后台管理
              </a>
            </h4>
          </div>
          <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
            <ul class=list-group> 
              <li class=list-group-item>
                 <a href="{{ url_for('backstage.manage_user') }}">用户管理</a>
              </li>
              <li class=list-group-item>
                <a href="{{ url_for('backstage.manage_project') }}">项目管理</a>
              </li>
            </ul> 
          </div>
      </div>

    </div>
    </div><!--left end-->

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2  main">
      {% block main%}{% endblock %}
    </div>

  </div>
</div>
{% endblock %}